---
title: Posts about Competitive Sports
layout: splash_sports
permalink: /competitive-sports
header:
    overlay_image: /images/photos/dmjj22.webp
    overlay_filter: rgba(0, 0, 0, 0.6)
    caption: "Photo credit: [**Mario von Whit3 Media**](https://whit3-shop.de/)"
    actions:
        - label: "Check out all other posts"
          url: "/posts"
---

{% assign posts = site.posts | sort: 'date' | reverse %}

{% for post in posts %}

    {% if post.tags contains 'competitive-sports' %}

    <h3>
        <a href="{{ post.permalink }}"
           rel="noopener noreferrer nofollow"
           target="_blank">
            {{ post.title }}
        </a>
    </h3>
    <p>{{ post.excerpt }}</p>

    {% endif %}






{% endfor %}