---
title: Posts about Traveling
layout: splash_travel
permalink: /traveling
header:
    overlay_image: /images/photos/sydney-7.webp
    overlay_filter: rgba(0, 0, 0, 0.6)
    actions:
        - label: "Check out all other posts"
          url: "/posts"
---

{% assign posts = site.posts | sort: 'date' | reverse %}

{% for post in posts %}

    {% if post.tags contains 'traveling' %}

    <h3>
        <a href="{{ post.permalink }}"
           rel="noopener noreferrer nofollow"
           target="_blank">
            {{ post.title }}
        </a>
    </h3>
    <p>{{ post.excerpt }}</p>

    {% endif %}






{% endfor %}